{%extends 'layout/base.html'%}
{%load static%}
{%block title_page %}
{%if title%}{{title.name}} - METRO STORE {%else%} ProductAll - METRO STORE {%endif%}
{%endblock%}
{%block content%}

<div class="row">
    <div class="col-lg-2 md-3 sm-12">
        <h2>Category</h2>
        {%include 'layout/scrollspy.html' %}

    </div>
    <div class="col-lg-10 md-3 sm-2">
        <div class="container">

            <div class="shadow-none p-2 mb-2 bg-light rounded">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a style="text-decoration:none; color: black;"
                                href="{%url 'home'%}">Home</a></li>
                        {%if title%}
                       
                        <li class="breadcrumb-item active" aria-current="page"> {{title.name}}</li>
               
                        {%else%}
                        <li class="breadcrumb-item active" aria-current="page"> Product All</li>
                        {%endif%}
                    </ol>
                </nav>
            </div>

            <div class="row justify-content-between ">
                <div class="col-4 p-3">
                    {%if search_post %} ค้นหา: {{search_post}} {%endif%}
                </div>
                <div class="col-4 p-3" style="text-align: end;">
                    {%include "page/include/sort.html"%}
                </div>
            </div>
            <!-- Tab panes -->
           
                    {%if list_product %}
                    {%include "page/include/list.html"%} {%else%}<h1>ไม่พบคำที่ค้นหา...</h1>
                    {%endif%} 
             
         
    </div>
</div>
<div class="container">
    {%include 'layout/pagination.html'%}
</div>
<!-- {%include 'layout/slider.html'%} -->

{%endblock %}
 {%block js%} <script src="{% static 'shop/js/app/list_onclick.js' %}" type="text/javascript"></script>{%endblock%}