{%extends  'layout/base.html'%}
{%block title_page %}{{user.username}} - METRO STORE{%endblock%}

{%block content%}
<div class="shadow-none p-2 mb-2 bg-light rounded">
        
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item"><a id="tage-a"
                  href="{%url 'home'%}">Home</a></li>
        
          <li class="breadcrumb-item active" aria-current="page"> Profile</li>
        
      </ol>
  </nav>
</div>
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8">
       

  
           
        <div class="shadow-none p-2 mb-3 bg-secondary text-white rounded  ">
            <h3 style="text-align: center;">{{user.first_name}}</h3>
          </div>
          <div class="shadow p-5 mb-5">

            <form method="POST" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="row ">
                  <div class="col-6 col-md-6 col-sm-12 mb-2 " >
                    
                    {%if base.imageview.images %}
                    
                    <img src="{{base.imageview.images.crop.400x400}}" class="rounded-circle mb-3 mx-auto d-block" alt="connect" >
                    {%endif%}
                    
                    {{form_image.images}}
                  </div>
                  <div class="col-6  col-md-6 col-sm-12">
                    <div class="mb-3">
                      <label for="exampleInputemail1" class="form-label">Username</label>
                      {{edit_form.username}}
                      {%if edit_form.errors.username%}
                      <small class="text-danger">
                        {{edit_form.errors.username}}</small>{%endif%}
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputemail1" class="form-label">Email</label>
                      {{edit_form.email}}
                      {%if edit_form.errors.email%}
                      <small class="text-danger">
                        {{edit_form.errors.email}}</small>{%endif%}
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputemail1" class="form-label">First_name</label>
                      {{edit_form.first_name}}
                      {%if edit_form.errors.first_name%}
                      <small class="text-danger">
                        {{edit_form.errors.first_name}}</small>{%endif%}
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputemail1" class="form-label">Last_name</label>
                      {{edit_form.last_name}}
                      {%if edit_form.errors.last_name%}
                      <small class="text-danger">
                        {{edit_form.errors.last_name}}</small>{%endif%}
                    </div>

              
                  

                <div class="col">
                  <button type="submit" class="btn btn-primary">
                   Comfirm
                  </button>
                  <button type="button" class="btn btn-secondary" onClick="javascript:history.go(-1);">Close</button>
      
                </div>
                  </div>
                </div>
          
              
               
              </form>
            
          </div>

    </div>
    <div class="col-2">

    </div>
</div>


{%endblock %}