{%extends  'layout/base.html'%}
{%block title_page %}Sign Up - METRO STORE{%endblock%}

{%block content%}
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">


      <div class="shadow-none p-2 mb-3 bg-primary text-white rounded  ">
        <h3 style="text-align: center;">Sign Up</h3>
      </div>
      <div class="shadow p-5 mb-5">
        <form method="POST" enctype="multipart/form-data" id="signupform">
          <input type="hidden" id="recaptcha_token" name="recaptcha_token_signUp">
          {% csrf_token %}
          {% if messages %}
          {% for message in messages %}
          <div class="alert  alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          <div class="mb-3">
            <label for="exampleInputusername1" class="form-label">Username</label>
            {{form_signup.username}}
            {%if form_signup.errors.username%}
            <small class="text-danger">
              {{form_signup.errors.username}}</small>{%endif%}
          </div>
          <div class="mb-3">
            <label for="exampleInputemail1" class="form-label">Email address</label>
            {{form_signup.email}}
            {%if form_signup.errors.email%}
            <small class="text-danger">
              {{form_signup.errors.email}}</small>{%endif%}
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            {{form_signup.password1}}
            {%if form_signup.errors.password1%}
            <small class="text-danger">
              {{form_signup.errors.password1}}</small>{%endif%}
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Password</label>
            {{form_signup.password2}}
            {%if form_signup.errors.password2%}
            <small class="text-danger">
              {{form_signup.errors.password2}}</small>{%endif%}
          </div>
          <div class="mb-3">
            <label for="exampleInputfirstname" class="form-label">First name</label>
            {{form_signup.first_name}}
            {%if form_signup.errors.first_name%}
            <small class="text-danger">
              {{form_signup.errors.first_name}}</small>{%endif%}
          </div>
          <div class="mb-3">
            <label for="exampleInputlastname" class="form-label">Last name</label>
            {{form_signup.last_name}}
            {%if form_signup.errors.last_name%}
            <small class="text-danger">
              {{form_signup.errors.last_name}}</small>{%endif%}
          </div>
      
          <div class="col">
            <button type="submit" class="g-recaptcha btn btn-primary" 
            data-sitekey="6LfbGTQbAAAAAGqaAe-RFikr-2wNIo4tNPynUIXm" 
            data-callback='onSubmit' 
            data-action='submit'>
             Comfirm
            </button>
          </div>
         
        </form>
      </div>
    </div>
      </div>
      <div class="col-3"></div>
    </div>
    <script>
      function onSubmit(token) {
        $('#recaptcha_token').val(token)
        $('#contactform').submit()
      }
    </script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LfbGTQbAAAAAGqaAe-RFikr-2wNIo4tNPynUIXm"></script>
    {%endblock%}
  
  

