
<div id="item-3" class="shadow p-2 mb-3  bg-secondary text-white rounded  " >
    <h3>Comment</h3>
</div>

<form method="POST" id="productform">
    {% csrf_token %}
    <!-- <input type="hidden" id="recaptcha_token" name="recaptcha_token_product"> -->
    
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
       {{form_comment.name}}
       {%if form_comment.errors.name%}
       <small class="text-danger">
         {{form_comment.errors.name}}</small>{%endif%}
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Message</label>
        {{form_comment.message}}
        {%if form_comment.errors.message%}
        <small class="text-danger">
          {{form_comment.errors.message}}</small>{%endif%}
    </div>
 
    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
    <button class="btn g-recaptcha btn-primary me-md-2" type="submit" data-sitekey="6LfbGTQbAAAAAGqaAe-RFikr-2wNIo4tNPynUIXm" 
    data-callback='onSubmit' 
    data-action='submit'>Submit</button>
    </div>
</form>
<hr />

{% for i in products.comments.all %}
<div class="shadow-sm p-3 mb-1 bg-body rounded">
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">{{i.name}}</h5>
            <p class="card-text">{{i.message}}</p>
            <small>{{i.datetime}}</small>
        </div>
    </div>
</div>

{% endfor %}
