<div class="row row-cols-1 row-cols-md-4 g-4 ">
            

    {% for list_product in list_product %}
    <div class="col">
        <div class="card h-100" >
           <a href="{%url 'product' pk=list_product.pk cat_id=list_product.category.id%}"> <img src="{{list_product.image_pro.crop.400x300}}" class="card-img-top " id="image_card"></a>
            <div class="card-body">
                <h5 class="card-title">{{list_product.price}} บาท</h5>
              <a id="tage-a" href="{%url 'product' pk=list_product.pk cat_id=list_product.category.id%}"><h5 class="card-title">{{list_product.name}}</h5></a>
                <p class="card-text">{{list_product.detail}}</p>
                <a href="{%url 'product' pk=list_product.pk cat_id=list_product.category.id%}" class="btn btn-md btn-warning text-white">View</a>
            </div>
            <!-- <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div> -->
        </div>
    </div>
    {%endfor%}
    </div>