
<div class="list-group sticky-top" id="list-tab" role="tablist">

  <a class="list-group-item list-group-item-secondary list-group-item-action  {%if not title.id %}  active {%endif%}"
    id="list-home-list" href="{% url 'category-list'%}?page={{page}}" role="tab">All </a>



  {%for i in base.category%}


  <a class="list-group-item d-flex justify-content-between align-items-start list-group-item-secondary list-group-item-action {% if title.id == i.id%} active {%endif%} "
    id="list-home-list" href="{% url 'category-filter' pk=i.pk%}?page={{page}}&search={{search_post}}&sort={{sort}}"
    role="tab">
    {{i.name}}
    <span class="badge bg-secondary text-white rounded-pill">
      {{i.products.count}}
    </span>

  </a>

  {%endfor%}
</div>