{%extends  'layout/base.html'%}
{%block title_page %}Sign In - METRO STORE{%endblock%}

{%block content%}
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">


      <div class="shadow-none p-2 mb-3 bg-primary text-white rounded  ">
        <h3 style="text-align: center;">Sign In</h3>
      </div>
      <div class="shadow p-5 mb-5"> 
      <form method="POST">
          
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          {{form_signIn.username}}
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          {{form_signIn.password}}
        </div>
       
       

        <div class="mb-3"style="padding: auto;">
          {% if messages %}
          {% for message in messages %}
          <div class="alert  alert-{{ message.tags }}" role="alert">
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
        </div>
        <button type="submit" class="g-recaptcha btn btn-outline-dark" 
        data-sitekey="6LfbGTQbAAAAAGqaAe-RFikr-2wNIo4tNPynUIXm" 
        data-callback='onSubmit' 
        data-action='submit'>
         Send
        </button>
    </form>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
        
      {%endblock%}

