<!-- List group -->
<!-- <ul class="list-group sticky-top ">
  <li class="list-group-item d-flex justify-content-start align-items-start">    
    <a id="tage-a" href="{% url 'category-list'%}?page={{page}}" >All</a>    
      </li>
        {%for i in category%}
        <li class="list-group-item d-flex justify-content-between align-items-center">
      <a id="tage-a" href="{% url 'category-filter' pk=i.pk%}?page={{page}}&search={{search_post}}&sort={{sort}}" >{{i.name}}</a>    
          <span class="badge bg-primary rounded-pill" > {{i.products.count}} </span>
        </li>
        
        {%endfor%}
       
      </ul> -->
      
      <div class="list-group sticky-top" id="list-tab" role="tablist" >

        <a class="list-group-item list-group-item-secondary list-group-item-action {%if not title.id %}  active {%endif%}"  id="list-home-list"   href="{% url 'category-list'%}?page={{page}}"  role="tab" >All </a>
        {%for i in category%}
        
        <a class="list-group-item list-group-item-secondary list-group-item-action {% if title.id == i.id%} active {%endif%} "  id="list-home-list"    href="{% url 'category-filter' pk=i.pk%}?page={{page}}&search={{search_post}}&sort={{sort}}" role="tab" > <span class="badge bg-secondary text-white rounded-pill" >{{i.products.count}}</span> {{i.name}} </a>
      
        {%endfor%}
      </div> 
 
    

   